src/main/resources/configuracion.dtd

<!ELEMENT configuracion (cuentas|excel)+>
    <!ELEMENT cuentas (cuenta)+>
        <!ELEMENT cuenta (service|schema|usuario|password|host)+>
            <!ELEMENT service (#PCDATA)>
            <!ELEMENT password (#PCDATA)>
            <!ELEMENT schema (#PCDATA)>
            <!ELEMENT usuario (#PCDATA)>
            <!ELEMENT host (#PCDATA)>
    <!ELEMENT excel (nombre|ruta)+>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT ruta (#PCDATA)>